@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior:smooth;
}

body {
    font-family: "JetBrains Mono", monospace;
    letter-spacing: 0px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: rgb(21, 21, 21);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#blob {
    /* background-color: white; */
    height: 600px;
    aspect-ratio: 1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    position: fixed;
    background: radial-gradient(rgba(255, 255, 255, 0.05), transparent 70%);
}

.content {
    display: flex;
    /* position: relative;
    min-height: 100vh; */
}

.fixed_left {
    display: flex;
    flex-direction: column;
    padding: 5% 2%;
    width: 50%;
    height: 100vh;
    top: 0;
    position: sticky;
    justify-content: space-between;
    /* overflow-y: auto; */
    /* box-sizing: border-box; */
}

.scroll_right {
    flex-grow: 1;
    font-family: "Roboto", sans-serif;
    margin-bottom: 200px;
    /* overflow-y: auto; */
}

p a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.intro {
    height: auto;
}

.intro_container {
    display: flex;
    margin-bottom: 30px;
}

.intro_details {
    margin-left: 20px;
}

#name {
    padding-bottom: 20px;
    letter-spacing: 3px;
}

#grad {
    padding-bottom: 20px;
    font-weight: 500;
}

#intro_details {
    color: grey;
}

nav {
    padding-top: 10vh;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(148, 148, 149);
    transition: color 0.3s ease;
}

.highlight:target {
    color: white;
}


.active, a:hover {
    color: white;
}

.dash {
    display: inline-block;
    width: 30px;
    height: 2px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: grey;
    transition: width 0.3s ease, background-color 0.3s ease;
    vertical-align: middle;
}
a:hover .dash, .active .dash{
    width: 60px;
    background-color: white;
}


#picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#github_pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#linkedin_pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#email_pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contact {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact_each {
    display: flex;
}

.contact_text {
    margin-top: 3px;
    margin-left: 5px;
}

/* Project section */
.project {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
    transition: filter ease 0.5s;
    /* z-index: 9999; */
}

.project:hover .project_right, .project.pop .project_right{
    filter: brightness(70%);
}

.project_right {
    /* position: relative; */
    background-color: #202022;
    transition: filter ease 0.5s, transform ease 0.5s;
    /* width: 500px; */
    height: auto;
    /* border-radius: 10px; */
}


.project:hover .project_right:hover, .project.pop .project_right.pop{
    filter: brightness(120%);
    transform: scale(1.1);
    z-index: 9999;
}

section {
    margin-top: 80px;
}

/* Experience Section */
#Experience .project .project_right {
    display: flex;
}

/* Skills Section */
.project_name, .skill_os {
    padding: 20px 20px 10px 20px;
    font-weight: 300;
    /* text-transform: uppercase; */
}

.project_details {
    padding: 10px 20px 20px 20px;
    color: rgb(148, 148, 149);
}

/* Skills section */

.one_skill {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.one_skill li{
    background-color: rgb(0, 0, 0);
    color: rgb(155, 149, 149);
    border-radius: 10px;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.os_img {
    width: 50px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
}

.skill_head {
    display: flex;
    gap: 10px;
    align-items: center;
}

.skill_os {
    margin-left: 3px;
}

.skill_body {
    /* overflow-x: auto; */
    height: auto;
}



.skill {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
    transition: filter ease 0.5s;
}

.skill:hover .skill_right{
    filter: brightness(50%);
}

.skill_right {
    /* background-color:  rgb(21, 21, 21); */
    transition: filter ease 0.5s, transform ease 0.5s;
    height: auto;
}


.skill:hover .skill_right:hover {
    filter: brightness(150%);
    transform: scale(1.1);
}